.tabs-right.tabbable
  %ul.nav.nav-tabs.nav-list
    - if session[:logged_in] == "true"
      = link_in_li "Logout", "/logout"

    %li.list-header
      %img.img-polaroid{ src: url("/img/photo.png"), width: "100" }
    = link_in_li "\u{2302}", "/"
    -#= link_in_li "Über mich", "/profil"
    = link_in_li "Pressespiegel", "/presse"
    -#= link_in_li "Projekte", "/projekte"
    -#= link_in_li "Leistungen", "/leistungen"
    -#= link_in_li "Partner", "/partner"
    -#= link_in_li "Service", "/service"
    -#= link_in_li "Preise", "/preise"
    = link_in_li "Kontakt", "/kontakt"
    = link_in_li "Impressum", "/impressum"

